<!DOCTYPE html>
<html>
  <head>
    <title>Metar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Weather for given Metar Code is: </h1>
    <%- JSON.stringify(data) %>
  </body>
</html>